# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/sep_io_24sea_influxdb.iml
/jupyter-settings.xml
/misc.xml
/modules.xml
/inspectionProfiles/Project_Default.xml
/inspectionProfiles/profiles_settings.xml
